<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./partials/header.ejs')  %>
        
    </head>
<body>
    <div class="adminProductsContainer">
        <div class="top">
            <%-include('./partials/adminTabs.ejs')  %>
        </div>
        <div class="body">
            <div class="body-top">
                <div class="welcome_message">
                    <h1>ADMIN SEEDS</h1>
                    <%-include('./partials/success_errorMessage.ejs')  %>
                </div>
            </div>
            <div class="body-content">
                <div class="body-contentTop">
                    <div>
                        <button onclick="showAddProduct()"><h3>ADD SEED</h3></button>
                        <h3>HISTORY</h3>
                    </div>
                    <form action="" method="">
                        <input id="searchInput" type="text" name="query" placeholder="Search for products">
                    </form>
                    <div class="addProduct">
                        <p><button id="close" onclick="closeAddProduct()"><i class="fa-solid fa-x"></i></button></p>
                        <div>
                            <form action="/admin/addSeed" method="POST" enctype="multipart/form-data">
                                <label for="image">SEED IMAGE</label><br>
                                <input type="file" id="productImage" name="productImage"><br>

                                <label for="name">SEED NAME</label><br>
                                <input type="text" id="productName" name="productName"><br>

                                <label for="price">SEED PRICE</label><br>
                                <input type="text" id="productPrice" name="productPrice"><br>

                                <label for="quantity">SEED QUANTITY</label><br>
                                <input type="text" id="productQuantity" name="productQuantity"><br>

                                <input type="hidden" id="productCategory" name="productCategory" value="Seeds">

                                <div class="button">
                                    <button type="submit">ADD PRODUCT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="body-contentBody">
                    <table>
                        <tr>
                            <th>IMAGE</th>
                            <th>NAME</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>ACTION</th>
                        </tr>
                       <% Seeds.forEach((Seed)=>{ %>
                        <tr>
                            <td><img src="data:image/png;base64,<%=Seed.productImage%>" alt=""></td>
                            <td><%=Seed.productName %></td>
                            <td><%=Seed.productPrice %></td>
                            <td><%=Seed.productQuantity %></td>
                            <td>
                                <button onclick="showDetails('<%= Seed._id %>')">EDIT</button>
                                <div class="productDetail" id="detail-<%=Seed._id %>">
                                    <p><button id="close"><i class="fa-solid fa-x"></i></button></p>
                                    <div>
                                        <form action="/admin/seed/<%= Seed._id %>/edit" method="post" enctype="multipart/form-data">
                                            <label for="image">SEED IMAGE</label><br>
                                            <input type="file" id="image" name="productImage" value="<%= Seed.productImage %>"><br>
        
                                            <label for="name">SEED NAME</label><br>
                                            <input type="text" id="name" name="productName" value="<%= Seed.productName %>"><br>
        
                                            <label for="price">FEED PRICE</label><br>
                                            <input type="text" id="price" name="productPrice" value="<%= Seed.productPrice %>"><br>
        
                                            <label for="quantity">FEED QUANTITY</label><br>
                                            <input type="text" id="quantity" name="productQuantity" value="<%= Feed.productQuantity %>"><br>


                                            <div class="button">
                                                <button type="submit">EDIT PRODUCT</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <button onclick="confirmDeleteFeed('<%= Seed._id %>')">DELETE</button>
                            </td>
                        </tr>
               
                        <% }) %>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/commonJavascript.js"></script>
    <script src="/adminFeeds/adminFeedsJavascript.js"></script>
</body>
</html>